In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/0.1-initial-exploration.csv',index_col=False)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.loc[:, 'positionOrder'] = pd.to_numeric(df.loc[:, 'positionOrder'], errors='coerce')
df.loc[:, 'ageAtRace'] = pd.to_numeric(df.loc[:, 'ageAtRace'], errors='coerce')
df.loc[:, 'ageAtDebut'] = pd.to_numeric(df.loc[:, 'ageAtDebut'], errors='coerce')
df.loc[:, 'yearsExperience'] = pd.to_numeric(df.loc[:, 'yearsExperience'], errors='coerce')

**Drop useless columns**

In [3]:
df = df.drop(['resultId','raceId','constructorId','position','positionText','pointsGained',
'laps','time_x','milliseconds','fastestLapSpeed','fastestLapTime','fastestLap','statusId'
,'circuitName','date','dateOfDebut','status','driverStandingsId'], 1)

/var/folders/ww/g01k38ln5rx5dm_b_qtwpdkc0000gn/T/ipykernel_75294/1923701677.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['resultId','raceId','constructorId','position','positionText','pointsGained',

**Columns with null values**

In [4]:
print('Columns with null values:\n', df.columns[df.isna().any()].tolist())

Columns with null values:
 ['driverStandingsPoints', 'driverStandingsPosition', 'driverStandingsWins', 'lastRaceRank', 'constructorStandingsId', 'constructorStandingsPoints', 'constructorStandingsPosition', 'constructorStandingsWins', 'previousRaceGridStart', 'previousRacePosition', 'racesWon', 'racesRetired', 'racesFinished', 'polePositions', 'racesWonByConstructor', 'racesRetiredByConstructor', 'percentageOfBestQuali']

In [5]:
df[['racesWon','racesRetired','racesFinished','polePositions','racesWonByConstructor','racesRetiredByConstructor']] = df[['racesWon','racesRetired','racesFinished','polePositions','racesWonByConstructor','racesRetiredByConstructor']].fillna(value=0)
df[['lastRaceRank','previousRaceGridStart','previousRacePosition']] = df[['lastRaceRank','previousRaceGridStart','previousRacePosition']].fillna(value=-1)

In [6]:
print('Columns with null values:\n', df.columns[df.isna().any()].tolist())

Columns with null values:
 ['driverStandingsPoints', 'driverStandingsPosition', 'driverStandingsWins', 'constructorStandingsId', 'constructorStandingsPoints', 'constructorStandingsPosition', 'constructorStandingsWins', 'percentageOfBestQuali']

In [8]:
df[df.isna().any(axis=1)].head(10)

,driverId,gridStart,positionOrder,rank,driverRef,nationality,year,round,circuitId,ageAtRace,...,constructorStandingsWins,previousRaceGridStart,previousRacePosition,racesWon,racesRetired,racesFinished,polePositions,racesWonByConstructor,racesRetiredByConstructor,percentageOfBestQuali
35,1,18,20,13,hamilton,British,2009,1,1,24,...,0.0,-1.0,-1.0,9.0,2.0,30.0,13.0,158.0,395.0,109.949080
36,1,12,7,11,hamilton,British,2009,2,2,24,...,NaN,18.0,20.0,9.0,2.0,30.0,13.0,158.0,396.0,104.490652
139,1,22,3,4,hamilton,British,2014,11,11,29,...,9.0,20.0,3.0,27.0,18.0,109.0,35.0,22.0,42.0,NaN
169,1,22,7,10,hamilton,British,2016,3,17,31,...,2.0,1.0,3.0,43.0,20.0,137.0,51.0,47.0,46.0,NaN
206,1,20,4,2,hamilton,British,2017,19,18,32,...,11.0,3.0,9.0,62.0,22.0,171.0,72.0,75.0,50.0,NaN
342,2,10,3,2,heidfeld,German,2005,2,2,27,...,0.0,7.0,19.0,0.0,31.0,7.0,0.0,113.0,287.0,106.296166
356,2,15,18,17,heidfeld,German,2004,2,2,26,...,0.0,15.0,16.0,0.0,24.0,7.0,0.0,4.0,195.0,111.938451
357,2,18,15,16,heidfeld,German,2004,3,3,26,...,0.0,15.0,18.0,0.0,25.0,7.0,0.0,4.0,196.0,109.875429
374,2,6,8,\N,heidfeld,German,2003,2,2,25,...,0.0,7.0,15.0,0.0,20.0,5.0,0.0,0.0,141.0,112.312415
381,2,20,8,\N,heidfeld,German,2003,9,20,26,...,0.0,12.0,15.0,0.0,23.0,5.0,0.0,0.0,147.0,NaN