In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df_all = pd.read_csv('../data/processed/0.1-initial-exploration.csv',index_col=False)
df_date_filtered = df_all[df_all['year'] > 2005]

In [3]:
df = df_date_filtered[['gridStart','year','round','positionOrder']]

In [4]:
df_train=df[(df['year'] <= 2021) & (df['round']<19)]
df_validation=df[(df['year'] == 2021) & (df['round']==19)]

In [5]:
df_train.head(3)

   gridStart  year  round  positionOrder
0          1  2008      1              1
1          9  2008      2              5
2          3  2008      3             13

In [6]:
reg = LinearRegression().fit(df_train.iloc[:,:-3], df_train.iloc[:,-1:])
reg.score(df_train.iloc[:,:-3], df_train.iloc[:,-1:])

0.34854908299384657

In [7]:
df_validation.head(20)

       gridStart  year  round  positionOrder
284           10  2021     19              1
1010          12  2021     19              9
1537           0  2021     19             12
3582           9  2021     19             11
23408          4  2021     19              4
23618         11  2021     19             19
23953          1  2021     19              3
24571          3  2021     19              6
24712          2  2021     19              2
24949          8  2021     19              8
25011         13  2021     19             14
25111         14  2021     19             20
25197          7  2021     19              7
25303          6  2021     19              5
25384          5  2021     19             10
25482         17  2021     19             13
25521         16  2021     19             16
25546         15  2021     19             15
25568         18  2021     19             18
25590         19  2021     19             17

In [8]:
prediction = reg.predict(df_validation.iloc[:,:-3])
df_prediction = pd.DataFrame(data=prediction,columns=['predictedOrder'])
df_validation = df_validation.reset_index(drop=True)

In [9]:
df_compare = pd.concat([df_validation, df_prediction], axis=1)

In [10]:
df_compare.head(20)

    gridStart  year  round  positionOrder
0          10  2021     19              1
1          12  2021     19              9
2           0  2021     19             12
3           9  2021     19             11
4           4  2021     19              4
5          11  2021     19             19
6           1  2021     19              3
7           3  2021     19              6
8           2  2021     19              2
9           8  2021     19              8
10         13  2021     19             14
11         14  2021     19             20
12          7  2021     19              7
13          6  2021     19              5
14          5  2021     19             10
15         17  2021     19             13
16         16  2021     19             16
17         15  2021     19             15
18         18  2021     19             18
19         19  2021     19             17