In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df_all = pd.read_csv('../data/processed/0.1-initial-exploration.csv',index_col=False)
df_date_filtered = df_all[df_all['year'] > 2005]

In [3]:
df = df_date_filtered[['gridStart','year','round','positionOrder']]

In [4]:
df_train=df[(df['year'] <= 2021) & (df['round']<19)]
df_validation=df[(df['year'] == 2021) & (df['round']==19)]

In [5]:
df_train.head(3)

   gridStart  year  round  positionOrder
0          1  2008      1              1
1          9  2008      2              5
2          3  2008      3             13

In [6]:
reg = LinearRegression().fit(df_train.iloc[:,:-3], df_train.iloc[:,-1:])
reg.score(df_train.iloc[:,:-3], df_train.iloc[:,-1:])

0.34854908299384657

In [8]:
prediction = reg.predict(df_validation.iloc[:,:-3])
df_prediction = pd.DataFrame(data=prediction,columns=['predictedOrder'])
df_validation = df_validation.reset_index(drop=True)

In [9]:
df_compare = pd.concat([df_validation, df_prediction], axis=1)

In [11]:
df_compare.head(20)

    gridStart  year  round  positionOrder  predictedOrder
0          10  2021     19              1       10.591203
1          12  2021     19              9       11.766468
2           0  2021     19             12        4.714879
3           9  2021     19             11       10.003571
4           4  2021     19              4        7.065408
5          11  2021     19             19       11.178835
6           1  2021     19              3        5.302511
7           3  2021     19              6        6.477776
8           2  2021     19              2        5.890143
9           8  2021     19              8        9.415938
10         13  2021     19             14       12.354100
11         14  2021     19             20       12.941733
12          7  2021     19              7        8.828306
13          6  2021     19              5        8.240673
14          5  2021     19             10        7.653041
15         17  2021     19             13       14.704630
16         16  2021     19             16       14.116998
17         15  2021     19             15       13.529365
18         18  2021     19             18       15.292262
19         19  2021     19             17       15.879895